html {
    height: 100%;
    box-sizing: border-box;
}

.footerContainer{
    background-Image: linear-gradient(45deg, rgb(206, 202, 174), rgb(227, 224, 17),yellow);
    width: 100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    margin-bottom: 0px;
    padding: 30px;
    color:white;
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    padding-bottom: 6.7rem;
    box-sizing: inherit;
}


@media only screen and (max-width : 500px){
    .footerContainer{
        font-size: 10px;
        flex-wrap: wrap;
    }
}

/* .footer {
    background-image: linear-gradient(45deg, rgb(151, 205, 26), rgb(227, 224, 17));
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    padding: 35px;
    text-align: center;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
} */